# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

__pycache__/
.ipynb_checkpoints/
.vscode/
build/
logs/
runs/
train_logs/
mutate_count.png
*.zip
train_logs/
generate_maps/